{{page-title "Adampage"}}
   <div class="main-container">
        <div class="blackadam">
            <div class="full-page">
                <div class="leftside">
                    <img src="assets/movie1.jpeg">
                </div>
                <div class="rightside">
                    <div class="first">
                        <div class="premiere">
                            <img src="assets/premiere.png">
                            <span>PREMIERE</span>
                        </div>
                        <div class="premiere">
                            <span>Streaming from 05 Dec 2022</span>
                        </div>
                    </div>
                    <h1>Black Adam</h1>
                    <h4 class="grey">English . Languages: <span class="red">Audio(4), Subtitles(1)</span></h4>
                    <h4>2h 5m . Action, Fantasy,Sci-Fi . UA . 20 Oct,2022</h4>
                    <div class="buttons">
                        <button type="button" {{on "click" this.seat}}>Book Tickets</button>
                    </div>
                </div>
                <div class="rightside-two">
                    <img src="assets/share.png">
                    <span>Share</span>
                </div>
            </div>
        </div>
        <h1 class="about-height">ABOUT</h1>
        <p class="about" >Adam,a lonely man with Asperger's Syndrome, develops a relationship with his upstairs neighbor, Beth. Adam, a lonely man with Asperger's Syndrome, develops a relationship with his upstairs neighbor, Beth. Adam, a lonely man with Asperger's Syndrome, develops a relationship with his upstairs neighbor, Beth.</p>
    </div>
{{outlet}}