{{page-title "Bookticket"}}
<div class="head">
    <div class="header">

        <h4>Black Adam</h4>
        <p>Multiplex Dolby Atmos: Tenkasi Today, 30 Nov, 06:30 PM</p>
        <label for="date">Date:</label>
        <div class="date"></div><br>
    </div>
    {{!-- <div class="movie"></div> --}}
    <div class="movie-container">
        <select class="movie">
            <option class="movie" value="130">movies</option>
        </select>
    </div>
    <ul class="showcase">
        <li>
            <div class="seats"> </div>
            <small>Available</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>selected</small>
        </li>
        <li>
            <div class="seat sold"></div>
            <small>sold</small>
        </li>
    </ul>
    <div>
        <div {{on "click" this.in}} class="container1">

            <div class="screen"></div>
            <div class="row1">
                <div {{on "click" this.clickseat1}} class="seat1">1</div>
                <div {{on "click" this.clickseat2}} class="seat2">2</div>
                <div {{on "click" this.clickseat3}} class="seat3">3</div>
                <div {{on "click" this.clickseat4}} class="seat4">4</div>
                <div {{on "click" this.clickseat5}} class="seat5">5</div>
                <div {{on "click" this.clickseat6}} class="seat6">6</div>
                <div {{on "click" this.clickseat7}} class="seat7">7</div>
                <div {{on "click" this.clickseat8}} class="seat8">8</div>
                <div {{on "click" this.clickseat9}} class="seat9">9</div>
                <div {{on "click" this.clickseat10}} class="seat10">10</div>
            </div>
            <div class="row1">
                <div {{on "click" this.clickseat11}} class="seat11">1</div>
                <div {{on "click" this.clickseat12}} class="seat12">2</div>
                <div {{on "click" this.clickseat13}} class="seat13">3</div>
                <div {{on "click" this.clickseat14}} class="seat14">4</div>
                <div {{on "click" this.clickseat15}} class="seat15">5</div>
                <div {{on "click" this.clickseat16}} class="seat16">6</div>
                <div {{on "click" this.clickseat17}} class="seat17">7</div>
                <div {{on "click" this.clickseat18}} class="seat18">8</div>
                <div {{on "click" this.clickseat19}} class="seat19">9</div>
                <div {{on "click" this.clickseat20}} class="seat20">10</div>
            </div>
            <div class="row1">
                <div {{on "click" this.clickseat21}} class="seat21">1</div>
                <div {{on "click" this.clickseat22}} class="seat22">2</div>
                <div {{on "click" this.clickseat23}} class="seat23">3</div>
                <div {{on "click" this.clickseat24}} class="seat24">4</div>
                <div {{on "click" this.clickseat25}} class="seat25">5</div>
                <div {{on "click" this.clickseat26}} class="seat26">6</div>
                <div {{on "click" this.clickseat27}} class="seat27">7</div>
                <div {{on "click" this.clickseat28}} class="seat28">8</div>
                <div {{on "click" this.clickseat29}} class="seat29">9</div>
                <div {{on "click" this.clickseat30}} class="seat30">10</div>
            </div>
            <div class="row1">
                 <div {{on "click" this.clickseat31}} class="seat31">1</div>
                <div {{on "click" this.clickseat32}} class="seat32">2</div>
                <div {{on "click" this.clickseat33}} class="seat33">3</div>
                <div {{on "click" this.clickseat34}} class="seat34">4</div>
                <div {{on "click" this.clickseat35}} class="seat35">5</div>
                <div {{on "click" this.clickseat36}} class="seat36">6</div>
                <div {{on "click" this.clickseat37}} class="seat37">7</div>
                <div {{on "click" this.clickseat38}} class="seat38">8</div>
                <div {{on "click" this.clickseat39}} class="seat39">9</div>
                <div {{on "click" this.clickseat40}} class="seat40">10</div>
            </div>
        </div>

        <label>seat count:</label>
        <div class="count">{{this.count}} </div>
        <label>TOTAL:</label><span class="total">{{this.total}}</span>
    </div>

    <button id="button" class="butn" type="button" {{on "click" this.pay}}>Pay</button>
</div>

{{outlet}}