{{page-title "Payamount"}}
<div class="main-condain">


    <div class="pay-container">

        <div class="pay">

            <h1>Movie Name: </h1>
            <h1>Total Tickets:</h1>
            <h1>Total Amount:</h1>
        </div>
        <div class="pay-input">

            <label for="number">Number</label>
            <Input name="number" class="pay-click" type="text" @value={{this.number}} />
            <div>{{this.num}}</div>
            <label for="email">E-mail</label>
            <Input name="email" class="pay-click" type="text" @value={{this.email}} /><br>
            <div>{{this.mailstr}}</div>
            <button type="button" {{on "click" this.add}} class="commmon-prop btn">submit</button>
        </div>
    
    </div>
</div>
{{outlet}}