{{page-title "Sky"}}
<div class="main-container" >
        <div class="blackadam">
            <div class="full-page">
                <div class="leftside">
                    <img src="assets/movie3.jpg">
                </div>
                <div class="rightside">
                    <div class="first">
                        <div class="premiere">
                            <img src="assets/premiere.png">
                            <span>PREMIERE</span>
                        </div>
                        <div class="premiere">
                            <span>Streaming from 05 Dec 2022</span>
                        </div>
                    </div>
                    <h1>SKY</h1>
                    <h4 class="grey">English . Languages: <span class="red">Audio(4), Subtitles(1)</span></h4>
                    <h4>2h 15m . Action, Fantasy,Sci-Fi . UA . 20 Oct,2022</h4>
                    <div class="buttons">
                        <button type="button"  {{on "click" this.skybook}}>Book Tickets</button>
                    </div>
                </div>
                <div class="rightside-two">
                    <img src="assets/share.png">
                    <span>Share</span>
                </div>
            </div>
        </div>
         <h1 class="about-height">ABOUT</h1>
        <p class="about"> several years after the events of its predecessor, the film sees Albus Dumbledore tasking Newt Scamander and his allies with a mission that takes them into the heart of dark wizard Gellert Grindelwald's army.</p>
    </div>
{{outlet}}