{{page-title "Wonder"}}
<div class="main-container" >
        <div class="blackadam">
            <div class="full-page">
                <div class="leftside">
                    <img src="assets/movie4.jpeg">
                </div>
                <div class="rightside">
                    <div class="first">
                        <div class="premiere">
                            <img src="assets/premiere.png">
                            <span>PREMIERE</span>
                        </div>
                        <div class="premiere">
                            <span>Streaming from 05 Dec 2022</span>
                        </div>
                    </div>
                    <h1>WONDER WOMEN</h1>
                    <h4 class="grey">English . Languages: <span class="red">Audio(4), Subtitles(1)</span></h4>
                    <h4>2h 45m . Action, Fantasy,Sci-Fi . UA . 20 Oct,2022</h4>
                    <div class="buttons">
                        <button type="button"  {{on "click" this.wonderbook}}>Book Tickets</button>
                    </div>
                </div>
                <div class="rightside-two">
                    <img src="assets/share.png">
                    <span>Share</span>
                </div>
            </div>
        </div>
         <h1 class="about-height">ABOUT</h1>
        <p class="about">Wonder Woman is an Amazon, a race of female warriors in Greek mythology. For the purpose of the Wonder Woman character, it was the Greek gods who gave her her powers. These powers include superhuman strength and speed as well as the ability to fly.</p>
    </div>
{{outlet}}