{{page-title "Avathar"}}
 <div class="main-container" >
        <div class="blackadam">
            <div class="full-page">
                <div class="leftside">
                    <img src="assets/movie2.jpg">
                </div>
                <div class="rightside">
                    <div class="first">
                        <div class="premiere">
                            <img src="assets/premiere.png">
                            <span>PREMIERE</span>
                        </div>
                        <div class="premiere">
                            <span>Streaming from 05 Dec 2022</span>
                        </div>
                    </div>
                    <h1>AVATAR</h1>
                    <h4 class="grey">English . Languages: <span class="red">Audio(4), Subtitles(1)</span></h4>
                    <h4>2h 35m . Action, Fantasy,Sci-Fi . UA . 20 Oct,2022</h4>
                    <div class="buttons">
                        <button type="button">Book Tickets</button>
                    </div>
                </div>
                <div class="rightside-two">
                    <img src="assets/share.png">
                    <span>Share</span>
                </div>
            </div>
        </div>
         <h1 class="about-height">ABOUT</h1>
        <p class="about" >, Avatar: The Way of Water tells the story of the Sully family, the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.</p>
    </div>
{{outlet}}