{{page-title "Bookticket"}}
<div class="header">

    <h4>Black Adam</h4>
    <p>PSS Multiplex Dolby Atmos: Tenkasi  Today,  30 Nov, 06:30 PM</p>
        <label for="date">Date:</label> 
        <div class="date"></div><br>    
</div>
<div>
    <table cellspacing="0" cellpadding="0">
        <tbody>

            <tr>
                <td>
                    <div class="row2">A</div>
                </td>
                <td class="row1">
                    <div class="seat1">1</div>
                    <div  class="seat1">2</div>
                    <div  class="seat1">3</div>
                    <div  class="seat1">4</div>
                    <div  class="seat1">5</div>
                    <div  class="seat1">6</div>
                    <div  class="seat1">7</div>
                    <div  class="seat1">8</div>
                    <div  class="seat1">9</div>
                    <div  class="seat1">10</div>
                </td>
            </tr>
              <tr>
                <td>
                    <div class="row2">B</div>
                </td>
                <td class="row1">
                    <div  class="seat1">1</div>
                    <div  class="seat1">2</div>
                    <div  class="seat1">3</div>
                    <div  class="seat1">4</div>
                    <div  class="seat1">5</div>
                    <div  class="seat1">6</div>
                    <div  class="seat1">7</div>
                    <div  class="seat1">8</div>
                    <div  class="seat1">9</div>
                    <div  class="seat1">10</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row1">C</div>
                </td>
                <td class="row1">
                    <div  class="seat1">1</div>
                    <div  class="seat1">2</div>
                    <div  class="seat1">3</div>
                    <div  class="seat1">4</div>
                    <div  class="seat1">5</div>
                    <div  class="seat1">6</div>
                    <div  class="seat1">7</div>
                    <div  class="seat1">8</div>
                    <div  class="seat1">9</div>
                    <div  class="seat1">10</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row1">D</div>
                </td>
                <td class="row1">
                    <div class="seat1">1</div>
                    <div  class="seat1">2</div>
                    <div  class="seat1">3</div>
                    <div  class="seat1">4</div>
                    <div  class="seat1">5</div>
                    <div  class="seat1">6</div>
                    <div  class="seat1">7</div>
                    <div  class="seat1">8</div>
                    <div  class="seat1">9</div>
                    <div  class="seat1">10</div>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button"  class="butn" {{on "click" this.pay}}>Pay</button>
</div>

{{outlet}}