{{page-title "Adam"}}
{{!-- <div class="contain">
    <p class="adam-fill" style= "background-image: linear-gradient(
90deg, #1A1A1A 24.97%, #1A1A1A 38.3%, rgba(26, 26, 26, 0.0409746) 97.47%, #1A1A1A 100%), url('assets/blackadam.jpg')"></p>
    </div>
 <div class="detail">
        <div>
            <img class="adampic" src="assets/movie1.jpeg" alt="">
        </div>
        <div>
            <h1 class="h1">BLOCK ADAM</h1>
            <p>3D Tamil</p>
            <p>2h 23 .action</p>
            <button class="click-ticket" type="button" {{on "click" this.book}}>Book tickets</button>
        </div>
 </div>
<h4>abote the movie</h4>
<p>The story centers around Adam, an ancient superhuman who is released from his magic imprisonment by a group of archeologists to free the nation of Kahndaq from the crime syndicate Intergang.</p> --}}
 <div class="main-container">
        <div class="blackadam">
            <div class="full-page">

                <div class="leftside">
                    <img src="assets/blackadam.png">
                </div>
                <div class="rightside">
                    <div class="first">
                        <div class="premiere">
                            <img src="assets/premiere.png">
                            <span>PREMIERE</span>
                        </div>
                        <div class="premiere">
                            <span>Streaming from 05 Dec 2022</span>
                        </div>
                    </div>
                    <h1>Black Adam</h1>
                    <h4 class="grey">English . Languages: <span class="red">Audio(4), Subtitles(1)</span></h4>
                    <h4>2h 5m . Action, Fantasy,Sci-Fi . UA . 20 Oct,2022</h4>
                    <div class="buttons">
                        <button type="button" {{on "click" this.book}}>Book Tickets</button>
                    </div>
                </div>
                <div class="rightside-two">
                    <img src="images/share.png">
                    <span>Share</span>
                </div>
            </div>
        </div>
    </div>
{{outlet}}