{{yield}}
<div class="container">
    <div>                 
        <img class="image" src={{@image}}>
        <div class="main-img" {{on "click"(fn this.adam @page )}}>{{@val}}</div>
    </div>
</div>  
