<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Moviebooking</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/moviebooking.css">
    
    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/moviebooking.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
