* {
    margin: auto;
}

.image {
    width: 280px;
    height: 450px;
    border-radius: 20px 20px 0px 0px;
}

.container {
    display: flex;
    background: linear-gradient(to right, #d8deef, #837587);
    height: 100vh;
    width: 100%;
}

.main-img {
    font-size: 25px;
    background-color: rgb(201, 37, 37);
    text-align: center;
    border-radius: 0px 0px 20px 20px;

}

.image:hover {
    animation: show 10s linear;
}

@keyframes show {
    from {
        width: 270px;
        height: 440px;
    }

    to {
        width: 280px;
        height: 450px;
    }
}

.h1 {
    color: white;
}

.click-ticket {
    background-color: red;
    width: 170px;
    height: 40px;
    font-size: 15px;
    float: right;
}

.header {
    background-color: #242333;
    height: 120px;
    font-size: 35px;
    color: #fff;
}

.main-container {
    margin: 20px 0;
}

.main-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;

}

.container1 {
    perspective: 1000px;
    margin-bottom: 30px;
    background-color: #242333;
}

.seat1,
.seat10,
.seat,
.seat11,
.seat12,
.seat13,
.seat14,
.seat15,
.seat18,
.seat19 {
    width: 25px;
    height: 25px;
    margin: 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    background-color: #444451;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat2,
.seat3,
.seat4,
.seat5,
.seat6,
.seat7,
.seat8,
.seat9,
.seat16,
.seat17,
.seat20 {
    width: 25px;
    height: 25px;
    margin: 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    background-color: #444451;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat21,
.seat23,
.seat24,
.seat25,
.seat26,
.seat27,
.seat28,
.seat29,
.seat36,
.seat37 {
    width: 25px;
    height: 25px;
    margin: 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    background-color: #444451;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat22,
.seat30,
.seat31,
.seat32,
.seat33,
.seat34,
.seat35,
.seat38,
.seat39,
.seat40 {
    width: 25px;
    height: 25px;
    margin: 3px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    background-color: #444451;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat2,
.seat12,
.seat8,
.seat18 {
    margin-right: 18px;
}

.seat22,
.seat32,
.seat28,
.seat38 {
    margin-right: 18px;
}

.seat:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;

}

.showcase li small {
    margin-left: 2px;
}

.seat.selected {
    background-color: #5baa3c;
}

.seat.sold {
    background-color: #fff;
}

.count {
    color: #fff;
}

.total {
    color: #fff;
}

.increment:hover {
    /* cursor: pointer; */
    background-color: #837587;
}

.main-container {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.leftside img {
    width: 261px;
    border-radius: 20px;
    cursor: pointer;
}

.blackadam {
    background-image: linear-gradient(90deg, rgb(26, 26, 26) 24.97%, rgb(26, 26, 26) 38.3%, rgba(26, 26, 26, 0.04) 97.47%, rgb(26, 26, 26) 100%), url('commonbg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
}

.full-page {
    display: grid;
    grid-template-columns: 17% 48% 5%;
    justify-content: center;
    margin-top: 52px;
    gap: 2%;
    padding-top: 8%;
    align-items: flex-start;
}

.rightside {
    color: white;
    /* margin-top:9%; */
    margin: auto;
    margin-left: 30px;
    line-height: 3.8;
    font-size: 20px;
}

.first {
    display: flex;
    align-items: center;
}

.premiere {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #1f253b;
    padding: 2px 6px;
    border-radius: 12px;
}

.rightside-two span {
    color: #cdcdcd;
    font-weight: bold;
}

.rightside-two {
    display: flex;
    align-items: center;
    gap: 22px;
    cursor: pointer;
}

.premiere img {
    width: 18px;
}

.premiere span {
    font-size: 13px;
}

.grey {
    color: rgb(204 204 204);
    padding-top: 8px;
}

.red {
    color: rgb(248 68 100);
}

.red:hover {
    border-bottom: 1px solid rgb(248 68 100);
}

.rightside h4 {
    font-weight: 400;
}

.buttons button {
    background-color: #f84464;
    padding: 15px 59px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
}

.rightside-two img {
    width: 31px;
}

.row1 {
    display: flex;
}

.screen {
    background-color: #fff;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.07);
}

div:focus {
    background-color: red;
}

.butn {
    background-color: #d2052b;
    display: block;
    margin-top: 44px;
    height: 35px;
    width: 110px;
    border-radius: 12px;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
}

.about-height {
    margin: 30px 30px;
}

.about {

    height: 100px;
    width: 100%;
    box-shadow: 20px 1px 9px #5baa3c;
    font-size: 28px;
    line-height: 2;
    background-color: rgb(146, 144, 138);
    /* font-style:inherit; */
}

.pay {
    height: 450px;
    width: 480px;
    background-color: rgb(128, 247, 190);
    margin-top: 30px;
    margin-right: 200px;
    line-height: 4;
    border-radius: 10px;
    box-shadow: 13px 15px 10px rgb(150, 145, 145);
    font-family: Arial, Helvetica, sans-serif;
}

.pay-input {
    border: none;
    line-height: 3;

}

.pay-container {
    display: flex;
    padding-top: 140px;
}

.head {
    height: 100vh;
    border: 4px solid red;
    background-color: #242333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

label {
    color: #fff;
}

.mystyle {
    background-color: rgb(89, 206, 54);
}

.commmon-prop {
    height: 50px;
    width: 130px;
    background-color: #837587;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.pay-click {
    display: block;
    margin-bottom: 20px;
    border: none;
    background-color: #444451;
    border-bottom: 1px solid;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
}

.main-condain {
    height: 100vh;
    width: 100%;
    background-color: #444451;
}

.succes-page {
    height: 100vh;
    width: 100%;
    background-color: thistle;

}
.succes-page > h1{
    color: #5baa3c;
    text-align: center;
    font-weight: bolder;
    font-size: 80px;
    padding-top: 6%;
    box-shadow: 20px 10px 10px wheat;
}
.count , .total{
    background-color: black;
}