.x-toggle {
  display: none;
}

.x-toggle,
.x-toggle::after,
.x-toggle::before,
.x-toggle *,
.x-toggle *::after,
.x-toggle *::before,
.x-toggle + label > .x-toggle-btn {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.x-toggle::-moz-selection,
.x-toggle::after::-moz-selection,
.x-toggle::before::-moz-selection,
.x-toggle *::-moz-selection,
.x-toggle *::after::-moz-selection,
.x-toggle *::before::-moz-selection,
.x-toggle + label > .x-toggle-btn::-moz-selection {
  background: none;
}

.x-toggle::selection,
.x-toggle::after::selection,
.x-toggle::before::selection,
.x-toggle *::selection,
.x-toggle *::after::selection,
.x-toggle *::before::selection,
.x-toggle + label > .x-toggle-btn::selection {
  background: none;
}

label > .x-toggle-btn.x-toggle-disabled {
  cursor: not-allowed;
}

label > .x-toggle-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  display: flex;
  flex-basis: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
}

label > .x-toggle-btn::after,
label > .x-toggle-btn::before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

label > .x-toggle-btn::after {
  left: 0;
}

label > .x-toggle-btn::before {
  display: none;
}

.x-toggle:checked + label > .x-toggle-btn::after {
  left: 50%;
}

.x-toggle-component {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.x-toggle-component.x-toggle-focused .x-toggle-btn:not(.x-toggle-disabled)::after,
.x-toggle-component.x-toggle-focused .x-toggle-btn:not(.x-toggle-disabled)::before {
  -webkit-box-shadow: 0 0 3px 2px #0099e0;
  -moz-box-shadow: 0 0 3px 2px #0099e0;
  box-shadow: 0 0 2px 3px #0099e0;
}

.x-toggle-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: auto;
  padding: 0 0.35rem;
}

.x-toggle-component .toggle-text {
  display: flex;
  cursor: pointer;
}

.x-toggle-container.small {
  width: 2.75rem;
  font-size: 1rem;
  padding: 0 0.25rem;
}

.x-toggle-container.medium {
  width: 3.75rem;
  font-size: 1rem;
}

.x-toggle-container.large {
  width: 5.7rem;
  font-size: 1.2rem;
  padding: 0 0.5rem;
}

.x-toggle-container label {
  min-width: 100%;
  max-width: 100%;
}

.x-toggle-container .toggle-text.toggle-prefix {
  padding-right: 0.25rem;
}

.x-toggle-container .toggle-text.toggle-postfix {
  padding-left: 0.25rem;
}

.x-toggle-component label.off-label {
  padding-right: 0.5rem;
}

.x-toggle-component label.on-label {
  padding-left: 0.5rem;
}

.x-toggle-light.x-toggle-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.x-toggle-light.x-toggle-btn::after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.x-toggle:checked + label > .x-toggle-light.x-toggle-btn {
  background: #9fd6ae;
}

.x-toggle-light.small {
  width: 3em;
  height: 1.6em;
}

.x-toggle-light.medium {
  width: 4em;
  height: 2.1em;
  padding: 3px;
}

.x-toggle-light.large {
  width: 4.7em;
  height: 2.1em;
  padding: 4px;
}

/* Dark theme variables */
:root{
  --ios-track-dark: #2121218f;
  --ios-border-dark: 1px solid #646464;
  --ios-thumb-checked-dark: #86d993;
}

/* Default theme */
.x-toggle-ios.x-toggle-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
}

.x-toggle-ios.x-toggle-btn::after {
  border-radius: 2em;
  background: #fbfbfb;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.x-toggle-ios.x-toggle-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}

.x-toggle-ios.x-toggle-btn:active::after {
  padding-right: 0.8em;
}

.x-toggle:checked + label > .x-toggle-ios.x-toggle-btn {
  background: #54d159;
}

.x-toggle:checked + label > .x-toggle-ios.x-toggle-btn:active {
  box-shadow: none;
}

.x-toggle:checked + label > .x-toggle-ios.x-toggle-btn:active::after {
  margin-left: -0.8em;
}

.x-toggle-ios.small {
  width: 3em;
  height: 1.6em;
}

.x-toggle-ios.medium {
  width: 4em;
  height: 2.1em;
  padding: 3px;
}

.x-toggle-ios.large {
  width: 4.7em;
  height: 2.1em;
  padding: 4px;
}

/* Dark mode styling */
.x-toggle-ios.dark.x-toggle-btn {
  background: var(--ios-track-dark);
  border: var( --ios-border-dark);
}

.x-toggle:checked + label > .x-toggle-ios.dark.x-toggle-btn {
  background: var(--ios-thumb-checked-dark);
}

/* Auto mode styling */
@media (prefers-color-scheme: dark) {
  .x-toggle-ios.auto.x-toggle-btn {
    background: var(--ios-track-dark);
    border: var( --ios-border-dark);
  }
  
  .x-toggle:checked + label > .x-toggle-ios.auto.x-toggle-btn {
    background: var(--ios-thumb-checked-dark);
  }
}
label > .x-toggle-default.x-toggle-btn {
  padding: 0.16em 0.1em;
  background-color: #e7e7e7;
  border-radius: 0.2em;
  transition: background-color 0.2s;
}

.x-toggle:checked + label > .x-toggle-default.x-toggle-btn {
  background-color: #797979;
}

label > .x-toggle-default.x-toggle-btn::after {
  background-color: #fff;
  transition: left 0.2s;
  border-radius: 0.2em;
}

label > .x-toggle-default.small {
  width: 3em;
  height: 1.6em;
}

label > .x-toggle-default.medium {
  width: 4em;
  height: 2.1em;
  padding: 3px;
}

label > .x-toggle-default.large {
  width: 4.7em;
  height: 2.1em;
  padding: 4px;
}

/* Dark theme variables */
:root{
  --flat-track-dark: #2121218f;
  --flat-thumb-dark: #e2e2e2;
  --flat-border-dark: 3px solid #a3a3a3;
  --flat-border-checked-dark: 3px solid #7fc6a6;
}

/* Default theme */
.x-toggle-flat.x-toggle-btn {
  padding: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em;
}

.x-toggle-flat.x-toggle-btn::after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}

.x-toggle:checked + label .x-toggle-flat.x-toggle-btn {
  border: 4px solid #7fc6a6;
}

.x-toggle:checked + label .x-toggle-flat.x-toggle-btn::after {
  left: 50%;
  background: #7fc6a6;
}

.x-toggle-flat.small {
  width: 3em;
  height: 1.6em;
}

.x-toggle-flat.medium {
  width: 4em;
  height: 2.1em;
  padding: 3px;
}

.x-toggle-flat.large {
  width: 4.7em;
  height: 2.1em;
  padding: 4px;
}

/* Dark mode styling */

.x-toggle-flat.dark.x-toggle-btn {
  background: var(--flat-track-dark);
  border: var(--flat-border-dark);
}

.x-toggle-flat.dark.x-toggle-btn::after {
  background: var(--flat-thumb-dark);
}

.x-toggle:checked + label .x-toggle-flat.dark.x-toggle-btn {
  border: var(--flat-border-checked-dark);
}

/* Auto mode styling */
@media (prefers-color-scheme: dark) {
  .x-toggle-flat.auto.x-toggle-btn {
    background: var(--flat-track-dark);
    border: var(--flat-border-dark);
  }
  
  .x-toggle-flat.auto.x-toggle-btn::after {
    background: var(--flat-thumb-dark);
  }
  
  .x-toggle:checked + label .x-toggle-flat.auto.x-toggle-btn {
    border: var(--flat-border-checked-dark);
  }
}
.x-toggle-skewed.x-toggle-btn {
  overflow: hidden;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: sans-serif;
  background: #888;
}

.x-toggle-skewed.x-toggle-btn::after,
.x-toggle-skewed.x-toggle-btn::before {
  -webkit-transform: skew(10deg);
  -ms-transform: skew(10deg);
  transform: skew(10deg);
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.x-toggle-skewed.x-toggle-btn::after {
  left: -110%;
  content: attr(data-tg-on);
}

.x-toggle-skewed.x-toggle-btn::before {
  left: 0;
  content: attr(data-tg-off);
}

.x-toggle-skewed.x-toggle-btn:active {
  background: #888;
}

.x-toggle:checked + label > .x-toggle-skewed.x-toggle-btn {
  background: #86d993;
}

.x-toggle:checked + label > .x-toggle-skewed.x-toggle-btn::before {
  left: 100%;
}

.x-toggle:checked + label > .x-toggle-skewed.x-toggle-btn::after {
  left: 0;
}

.x-toggle-skewed.small {
  width: 3em;
  height: 1.6em;
}

.x-toggle-skewed.small::before,
.x-toggle-skewed.small::after {
  line-height: 2.2em;
  font-size: 0.8em;
}

.x-toggle-skewed.medium {
  width: 4em;
  height: 2.1em;
  padding: 3px;
}

.x-toggle-skewed.medium::before,
.x-toggle-skewed.medium::after {
  line-height: 1.9em;
}

.x-toggle-skewed.large {
  width: 4.7em;
  height: 2.1em;
  padding: 4px;
}

.x-toggle-skewed.large::before,
.x-toggle-skewed.large::after {
  line-height: 1.7em;
  font-size: 1.1em;
}

.x-toggle-flip.x-toggle-btn {
  padding: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: sans-serif;
  -webkit-perspective: 100px;
  perspective: 100px;
}

.x-toggle-flip.x-toggle-btn::after,
.x-toggle-flip.x-toggle-btn::before {
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
}

.x-toggle-flip.x-toggle-btn::after {
  content: attr(data-tg-on);
  background: #02c66f;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.x-toggle-flip.x-toggle-btn::before {
  background: #ff3a19;
  content: attr(data-tg-off);
}

.x-toggle-flip.x-toggle-btn:active::before {
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
}

.x-toggle:checked + label > .x-toggle-flip.x-toggle-btn::before {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.x-toggle:checked + label > .x-toggle-flip.x-toggle-btn::after {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  left: 0;
  background: #7fc6a6;
}

.x-toggle:checked + label > .x-toggle-flip.x-toggle-btn:active::after {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
}

.x-toggle-flip.small {
  width: 3em;
  height: 1.6em;
}

.x-toggle-flip.small::before,
.x-toggle-flip.small::after {
  line-height: 2.2em;
  font-size: 0.8em;
}

.x-toggle-flip.medium {
  width: 4em;
  height: 2.1em;
  padding: 3px;
}

.x-toggle-flip.medium::before,
.x-toggle-flip.medium::after {
  line-height: 2.3em;
}

.x-toggle-flip.large {
  width: 4.7em;
  height: 2.1em;
  padding: 4px;
}

.x-toggle-flip.large::before,
.x-toggle-flip.large::after {
  line-height: 2.1em;
  font-size: 1.1em;
}

/* Dark theme variables */
:root{
  --material-track-dark: #727272;
}

.x-toggle-material.x-toggle-btn {
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Handle */
.x-toggle-material.x-toggle-btn::after {
  border-radius: 2em;
  background-color: #fafafa;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.x-toggle:checked + label > .x-toggle-material.x-toggle-btn::after {
  background-color: #7fc6a6;
}

/* Background */
.x-toggle-material.x-toggle-btn::before {
  position: absolute;
  display: block;
  height: 50%;
  width: 70%;
  left: 15%;
  content: '';
  background-color: #000;
  opacity: 0.38;
  border-radius: 2em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.x-toggle:checked + label > .x-toggle-material.x-toggle-btn::before {
  background-color: #7fc6a6;
  opacity: 0.5;
}

/* Disabled */
.x-toggle-material.x-toggle-btn.x-toggle-disabled::before,
.x-toggle:checked
  + label
  > .x-toggle-material.x-toggle-btn.x-toggle-disabled::before {
  background-color: #000;
  opacity: 0.12;
}

.x-toggle-material.x-toggle-btn.x-toggle-disabled::after,
.x-toggle:checked
  + label
  > .x-toggle-material.x-toggle-btn.x-toggle-disabled::after {
  background-color: #bdbdbd;
}

/* Sizes */
.x-toggle-material.small {
  width: 3em;
  height: 1.6em;
  padding: 2px;
}

.x-toggle-material.small::before {
  margin: 0.3em 0;
}

.x-toggle-material.medium {
  width: 4em;
  height: 2.1em;
  padding: 3px;
}

.x-toggle-material.medium::before {
  margin: 0.35em 0;
}

.x-toggle-material.large {
  width: 4.7em;
  height: 2.5em;
  padding: 4px;
}

.x-toggle-material.large::before {
  margin: 0.4em 0;
}

/* Dark mode styling */

/* Background */
.x-toggle-material.dark.x-toggle-btn::before {
  background-color: var(--material-track-dark);
}

/* Disabled */
.x-toggle-material.dark.x-toggle-btn.x-toggle-disabled::before,
.x-toggle:checked
  + label
  > .x-toggle-material.dark.x-toggle-btn.x-toggle-disabled::before {
  background-color: var(--material-track-dark);
}

/* Auto mode styling */
@media (prefers-color-scheme: dark) {
  .x-toggle-material.auto.x-toggle-btn::before {
    background-color: var(--material-track-dark);
  }
  
  /* Disabled */
  .x-toggle-material.auto.x-toggle-btn.x-toggle-disabled::before,
  .x-toggle:checked
    + label
    > .x-toggle-material.auto.x-toggle-btn.x-toggle-disabled::before {
    background-color: var(--material-track-dark);
  } 
}